

body {
    font-family: 'Inter', sans-serif;
}

.bg-gray-000 {
 background-color: rgb(0, 64, 83);
}

.mt-16 {
    margin-top: 4rem; /* Ajustez selon vos besoins */
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-x-8 > div {
    margin-right: 2rem; /* Ajustez selon vos besoins */
}

.image-size {
    width: 500px; /* Fixez la largeur souhaitée */
    height: auto; /* Maintenez le ratio d'aspect */
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title {
    display: none;
}

.title.active {
    display: block;
    animation: slideOut 2s ease forwards; /* Animation de sortie */
}

.subtitle {
    display: none;
}

.subtitle.active {
    display: block;
    animation: slideIn 1s ease forwards; /* Animation d'entrée */
}
